:root {
  --gradient: linear-gradient(
    135deg,
    #defc00,
    #00ddc2,
    #41bdff,
    #ff4443,
    #defc00,
    #00ddc2,
    #41bdff,
    #ff4443,
    #defc00,
    #00ddc2,
    #41bdff,
    #ff4443
  );

  --gradientTinted: linear-gradient(
    135deg,
    #2c2f16,
    #112a27,
    #1b262e,
    #311818,
    #2c2f16,
    #112a27,
    #1b262e,
    #311818,
    #2c2f16,
    #112a27,
    #1b262e,
    #311818
  );
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #0d0d0d;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
}

header {
  position: fixed;
  height: 80px;
  width: 100%;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: all ease-in-out 0.4s;
  box-shadow: none;
  border-bottom: 1px solid transparent;
}

.header-fixed {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-color: hsla(0, 0%, 45%, 0.2);
  box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.04) 0 10px 10px -5px;
}

header * {
  height: 45px;
  aspect-ratio: 155 / 50;
  cursor: pointer;
}

header img {
  object-fit: cover;
}

.main-background {
  position: absolute;
  height: 100dvh;
  max-height: -webkit-fill-available;
  width: 100vw;
  z-index: 1;
}

.main-background video {
  object-fit: cover;
  filter: brightness(0.5);
}

.main {
  display: flex;
  align-items: center;
  height: 100dvh;
  max-height: -webkit-fill-available;
  background: no-repeat center center fixed;
  background-size: cover;
  padding: 0 calc(10% + 35px);
}

.no-webp .main {
  background-image: url('../assets/images/no-webp/bg.jpg');
}

.webp .main {
  background-image: url('../assets/images/webp/bg.webp');
}

.main h1 {
  position: relative;
  line-height: 1.2;
  font-size: 78px;
  font-weight: 200;
  letter-spacing: 0.0125em;
  color: #fff;
  z-index: 2;
}

.main-emoji {
  cursor: pointer;
}

.main-emoji img {
  height: 78px;
  width: 78px;
  margin-bottom: -8px;
  margin-right: 4px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}

.main .wrapper {
  position: relative;
  z-index: 1;
  color: transparent;
  background: var(--gradient);
  background-size: 800% 800%;
  animation: animation 5s linear infinite;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

.main .typed {
  font-weight: 700;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

.typed-cursor {
  font-weight: 700;
  margin-left: 3px;
  color: white;
}

.scroll-down {
  height: 100px;
  padding: 0 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}

.scroll-down-text {
  color: #ffffff;
  font-weight: 300;
  transition: background ease-in-out 0.3s;
  padding: 10px 0;
  width: fit-content;
  position: absolute;
  left: 50%;
  border-radius: 12px;
  transform: translateX(-50%) translateY(-10px);
  box-shadow: rgb(0 0 0 / 10%) 0 0 15px -3px, rgb(0 0 0 / 5%) 0 0 6px -2px;
  border: 1px solid transparent;
}

.scroll-down-text a {
  padding: 10px;
}

.scroll-down-bar {
  animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  background: #ffffff;
  bottom: 0;
  display: inline-block;
  height: 60px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 1px;
  border-radius: 1px;
}

@keyframes elasticus {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
  border-top: 2px solid rgba(255, 255, 255, 0.12);
}

.anchor {
  position: absolute;
  top: -88px;
  left: 0;
  width: 100%;
  height: 90px;
  pointer-events: none;
}

.portfolio-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px 0 0 0;
}

.portfolio-heading-icon img {
  height: 80px;
  width: 80px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5)) drop-shadow(0px 0px 25px rgba(251, 203, 39, 0.25));
}

.portfolio h1 {
  line-height: 1.4;
  font-size: 45px;
  margin: 25px 20px 45px 20px;
  font-weight: 200;
  color: white;
  text-align: center;
  background: var(--gradient);
  background-size: 800% 800%;
  animation: animation 5s linear infinite;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

.portfolio-heading h1 .highlight {
  font-weight: 700;
  color: transparent;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

.cards {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 45px;
  pointer-events: none;
}

.card-1 .card-img,
.card-1 .card-img-hover {
  background: linear-gradient(180deg, #ec617e, #e52a53);
}

.card-2 .card-img,
.card-2 .card-img-hover {
  background-color: #65a22f;
}

.card-3 .card-img,
.card-3 .card-img-hover {
  background: linear-gradient(90deg, #11998e, #38ef7d);
}

.card-4 .card-img,
.card-4 .card-img-hover {
  background-color: #1572a1;
}

.card-5 .card-img,
.card-5 .card-img-hover {
  background-color: #007a6e;
}

.card-6 .card-img,
.card-6 .card-img-hover {
  background-color: #173259;
}

.card-7 .card-img,
.card-7 .card-img-hover {
  background: linear-gradient(135deg, #292929, #434343);
}

.card-8 .card-img,
.card-8 .card-img-hover {
  background-color: #032a4d;
}

.card-9 .card-img,
.card-9 .card-img-hover {
  background: linear-gradient(135deg, hsl(158, 94%, 29%), hsl(158, 94%, 39%));
}

.card-10 .card-img,
.card-10 .card-img-hover {
  background-color: #042f74;
}

.card-img {
  width: 100%;
  height: 235px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.card-img img,
.card-img picture {
  object-fit: contain;
  width: 100%;
  height: 100%;
  z-index: 9999;
  flex: 1;
}

.card-img-hover {
  width: 100%;
  height: 235px;
  transition: 0.2s all ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 12px;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

.card {
  margin: 35px;
  transition: all 0.3s ease-in-out !important;
  background-color: #1a1a1a;
  width: calc(100% / 3 - 70px);
  position: relative;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  pointer-events: all;
  outline: 1px solid hsla(0, 0%, 45%, 0.2);
  outline-offset: -1px;
  z-index: 2;
  transform: translateZ(0);
}

.card:before {
  --card-tint: transparent;
  pointer-events: none;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: calc(100% + 200px);
  height: calc(100% + 200px);
  opacity: 0;
  background: radial-gradient(var(--card-tint) 50%, transparent, transparent);
  transition: opacity ease-in-out 0.3s;
  filter: blur(8px);
}

.card-1:before {
  --card-tint: rgba(236, 97, 126, 0.25);
}

.card-2:before {
  --card-tint: rgba(101, 162, 47, 0.25);
}

.card-3:before {
  --card-tint: rgba(37, 193, 136, 0.25);
}

.card-4:before {
  --card-tint: rgba(20, 114, 161, 0.25);
}

.card-5:before {
  --card-tint: rgba(0, 122, 110, 0.25);
}

.card-6:before {
  --card-tint: rgba(24, 50, 89, 0.25);
}

.card-7:before {
  --card-tint: rgba(51, 51, 51, 0.25);
}

.card-8:before {
  --card-tint: rgba(3, 42, 77, 0.25);
}

.card-9:before {
  --card-tint: rgba(5, 168, 107, 0.25);
}

.card-10:before {
  --card-tint: rgba(3, 46, 115, 0.25);
}

.card a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.coming-soon {
  position: absolute;
  z-index: 2;
  top: 24px;
  left: 24px;
  background: #1c1c1c;
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 700;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
}

.coming-soon span img {
  height: 13px;
  width: 13px;
  margin-right: 4px;
  margin-bottom: -1.5px;
}

.card-content {
  flex: 1;
  display: flex;
  align-items: center;
}

.card-info {
  z-index: 2;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 20px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.card-category {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 300;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 1.17em;
}

.card-desc {
  font-size: 13px;
  font-weight: 400;
}

.more-on-github {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  padding: 20px;
  margin-top: -20px;
  margin-bottom: 80px;
  margin-left: -60px;
}

.more-on-github:before,
.more-on-github > span:before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  border-radius: 1px;
  background-color: #fff;
  left: 0;
  top: 50%;
}

.more-on-github:after,
.more-on-github > span:after {
  content: '';
  display: block;
  position: absolute;
  left: 55px;
  top: 50%;
  width: 7px;
  height: 7px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-radius: 1px;
  transform: rotate(135deg) translateY(5px);
}

.more-on-github:before,
.more-on-github:after {
  transition: all 0.2s;
}

.more-on-github:after {
  opacity: 0;
}

.more-on-github > span {
  display: inline-block;
  position: relative;
  transition: all 0.3s;
}

.more-on-github > span:before {
  transition: all 0.3s;
}

.more-on-github > span:before {
  width: 60px;
  left: calc(100% + 10px);
}

.more-on-github > span:after {
  left: calc(100% + 65px);
}

.more-on-github__text {
  border: 1px solid transparent;
}

.more-on-github__text i {
  margin: 0 2px;
}

.divider {
  height: 2px;
  border-radius: 1px;
  width: calc(80% - 70px);
  background: rgba(255, 255, 255, 0.12);
  margin: 0 auto;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
}

.contact .contact-background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .contact-background img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  opacity: 0.12;
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0));
}

.contact .contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  z-index: 3;
}

.contact .contact-content .wrapper {
  background: var(--gradient);
  background-size: 800% 800%;
  animation: animation 5s linear infinite;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.contact .contact-content:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: translate3d(0, 0, 0) scale(1.5, 1.75);
  -webkit-transform: translate3d(0, 0, 0) scale(1.5, 1.75);
  -moz-transform: translate3d(0, 0, 0) scale(1.5, 1.75);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(16px) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.12)) drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.08));
  pointer-events: none;
  border-radius: 50%;
  background: var(--gradientTinted);
  background-size: 800% 800%;
  animation: animation 10s linear infinite, morph 10s ease-in-out infinite;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.contact h1 {
  font-size: 100px;
  line-height: 1.1;
  margin: 10px 0 0 0;
  font-weight: 700;
  letter-spacing: 0.0125em;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
}

.contact h1 {
  color: white;
  font-weight: 200;
}

.contact .contact-content--highlight {
  color: transparent;
  font-weight: 700;
}

.icons {
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: transparent;
  gap: 20px;
  padding-top: 45px;
  border-top: 1px solid hsla(0, 0%, 45%, 0.2);
  margin: 30px 7.5% 0 7.5%;
}

.icons a {
  padding: 8px;
  border-radius: 12px;
  border: 1px solid hsla(0, 0%, 45%, 0.2);
  transition: all ease-in-out 0.3s;
}

a {
  text-decoration: none;
  color: white;
}

.icons i {
  display: inline;
  color: white;
  margin: 5px;
  transition: font-size 0.4s;
}

.modal-overlay {
  width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all ease-in-out 0.4s;
  display: none;
}

.debate-reviews-tool-modal-video {
  position: relative;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.debate-reviews-tool-modal-video video {
  border-radius: 15px;
}

.debate-reviews-tool-modal-description {
  max-width: 60%;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
}

.debate-reviews-tool-modal-description .debate-reviews-tool-modal-description-copyright {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
}

.debate-reviews-tool-modal-description .debate-reviews-tool-modal-description-text {
  font-size: 13px;
  font-weight: 400;
}

.close-button {
  color: white;
  cursor: pointer;
  margin-top: 30px;
}

img {
  pointer-events: none;
}

.hidden {
  display: none;
}

@media (hover: hover) {
  body:not(.scrolling) .main .color:hover::after {
    height: 0.2em;
  }

  body:not(.scrolling) .main .color-alt:hover::after {
    height: 0.1em !important;
  }

  body:not(.scrolling) .card:hover .card-img-hover {
    opacity: 0.35;
  }

  body:not(.scrolling) .card:hover .card-info {
    background-color: transparent;
    position: relative;
  }

  body:not(.scrolling) .card:hover .card-info-hover {
    opacity: 1;
  }

  body:not(.scrolling) .card:hover .coming-soon {
    padding: 0;
    background: transparent;
  }

  body:not(.scrolling) .more-on-github:hover > span {
    transform: translateX(70px);
  }

  body:not(.scrolling) .more-on-github:hover:before,
  body:not(.scrolling) .more-on-github:hover:after {
    transition-delay: 0.3s;
  }

  body:not(.scrolling) .more-on-github:hover:before {
    width: 60px;
  }

  body:not(.scrolling) .more-on-github:hover:after {
    opacity: 1;
    transition-delay: 0.5s;
  }

  body:not(.scrolling) .more-on-github:hover span:before {
    transition-delay: 0.2s;
  }

  body:not(.scrolling) .more-on-github:hover span:before {
    width: 0;
  }

  body:not(.scrolling) .more-on-github:hover span:after {
    opacity: 0;
  }

  body:not(.scrolling) .icons a:hover {
    scale: 1.2;
    margin: 0 8px;
    cursor: pointer;
  }

  body:not(.scrolling) .close-button:hover {
    text-decoration: underline;
  }

  body:not(.scrolling) .cards:hover > .card:not(:hover) {
    scale: 0.95 !important;
    z-index: 2;
  }

  body:not(.scrolling) .card:hover {
    scale: 1.05 !important;
    z-index: 1;
    outline: 1px solid hsla(0, 0%, 45%, 0.3);
  }

  body:not(.scrolling) .card:hover:before {
    opacity: 0.7;
  }

  body:not(.scrolling) .scroll-down-text:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(224, 242, 254, 0.3);
    box-shadow: rgb(0 0 0 / 10%) 0 0 15px -3px, rgb(0 0 0 / 5%) 0 0 6px -2px;
  }

  body:not(.scrolling) .more-on-github:hover .more-on-github__text {
    background: #1c1c1c;
    box-shadow: rgb(0 0 0 / 10%) 0 0 15px -3px, rgb(0 0 0 / 5%) 0 0 6px -2px;
    border-radius: 12px;
    padding: 9px 10px 11px 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    border: 1px solid rgba(224, 242, 254, 0.3);
  }

  body:not(.scrolling) .icons a:hover {
    background: rgba(255, 255, 255, 0.12);
    border-color: rgba(224, 242, 254, 0.3);
    box-shadow: rgb(0 0 0 / 10%) 0 0 15px -3px, rgb(0 0 0 / 5%) 0 0 6px -2px;
  }

  body:not(.scrolling) #waving-hand:hover img,
  body:not(.scrolling) #raised-hand:hover img {
    scale: 1.075;
  }
}

@media (hover: none) {
  body:not(.scrolling) .main .color:active::after {
    height: 0.2em;
  }

  body:not(.scrolling) .main .color-alt:active::after {
    height: 0.1em !important;
  }

  body:not(.scrolling) .card:active .card-img-hover {
    height: 100%;
    opacity: 0.35;
  }

  body:not(.scrolling) .card:active .card-info {
    background-color: transparent;
    position: relative;
  }

  body:not(.scrolling) .card:active .card-info-hover {
    opacity: 1;
  }

  body:not(.scrolling) .card:active .coming-soon {
    padding: 0;
    background: transparent;
  }

  body:not(.scrolling) .more-on-github:active > span {
    transform: translateX(70px);
  }

  body:not(.scrolling) .more-on-github:active:before,
  body:not(.scrolling) .more-on-github:active:after {
    transition-delay: 0.3s;
  }

  body:not(.scrolling) .more-on-github:active:before {
    width: 60px;
  }

  body:not(.scrolling) .more-on-github:active:after {
    opacity: 1;
    transition-delay: 0.4s;
  }

  body:not(.scrolling) .more-on-github:active span:before {
    transition-delay: 0.2s;
  }

  body:not(.scrolling) .more-on-github:active span:before {
    width: 0;
  }

  body:not(.scrolling) .more-on-github:active span:after {
    opacity: 0;
  }

  body:not(.scrolling) .icons a:active {
    scale: 1.2;
    margin: 0 12px;
    cursor: pointer;
  }

  body:not(.scrolling) .close-button:active {
    text-decoration: underline;
  }

  body:not(.scrolling) .cards:active > .card:not(:active) {
    scale: 0.95 !important;
    z-index: 2;
  }

  body:not(.scrolling) .card:active {
    scale: 1.05 !important;
    z-index: 1;
    box-shadow: inset 0 0 0 1px rgba(224, 242, 254, 0.3);
  }

  body:not(.scrolling) .card:active:before {
    opacity: 0.7;
  }

  body:not(.scrolling) .scroll-down-text:active {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(224, 242, 254, 0.3);
  }

  body:not(.scrolling) .more-on-github:active .more-on-github__text {
    background: #1c1c1c;
    box-shadow: rgb(0 0 0 / 10%) 0 0 15px -3px, rgb(0 0 0 / 5%) 0 0 6px -2px;
    border-radius: 12px;
    padding: 9px 10px 11px 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    border: 1px solid rgba(224, 242, 254, 0.3);
  }

  body:not(.scrolling) .icons a:active {
    background: rgba(255, 255, 255, 0.12);
    border-color: rgba(224, 242, 254, 0.3);
    box-shadow: rgb(0 0 0 / 10%) 0 0 15px -3px, rgb(0 0 0 / 5%) 0 0 6px -2px;
  }

  body:not(.scrolling) #waving-hand:active img,
  body:not(.scrolling) #raised-hand:active img {
    scale: 1.075;
  }
}

@keyframes animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@media (max-width: 1200px) {
  .portfolio-heading {
    margin-top: 50px;
  }

  .main {
    padding: 0 calc(10% + 20px);
  }

  .card {
    margin: 20px !important;
    width: calc(100% / 2 - 40px) !important;
  }

  .divider {
    width: calc(80% - 40px) !important;
  }
}

@media (max-width: 960px), (max-height: 720px) {
  .main {
    padding: 0 10%;
  }

  h1 {
    font-size: 40px !important;
  }

  .contact h1 {
    font-size: 45px !important;
  }

  .icons {
    padding-top: 25px;
    margin: 18px 7.5% 0 7.5%;
    font-size: 25px;
    gap: 10px;
  }

  .main-emoji img {
    height: 40px !important;
    width: 40px !important;
    margin-bottom: -4px !important;
  }

  .card-category {
    font-size: 0.8em;
  }

  .card-desc {
    font-size: 0.8em;
  }

  .debate-reviews-tool-modal-video,
  .debate-reviews-tool-modal-description {
    max-width: 80%;
  }
}

@media (max-height: 720px) {
  .scroll-down {
    height: 60px;
  }

  .scroll-down-text {
    font-size: 0.8em;
    transform: translateX(-50%) translateY(-20px);
  }

  .scroll-down-bar {
    height: 33px;
  }

  .anchor {
    top: -58px;
    height: 60px;
  }

  .debate-reviews-tool-modal-video,
  .debate-reviews-tool-modal-description {
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .main {
    padding: 0 calc(5% + 20px);
  }

  .cards {
    width: 90% !important;
  }

  .card {
    margin: 20px 0 !important;
    width: calc(100% - 40px) !important;
  }

  .divider {
    width: calc(100% - 80px) !important;
  }

  .debate-reviews-tool-modal-video,
  .debate-reviews-tool-modal-description {
    max-width: 80%;
  }
}

*:focus-visible,
.card:focus-visible,
.card:has(a:focus-visible),
.more-on-github:focus-visible .more-on-github__text {
  outline: 1px solid white;
  border-radius: 12px;
}

.more-on-github:focus-visible .more-on-github__text {
  padding: 9px 10px 11px 10px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.more-on-github:focus-visible {
  outline: none;
}

.glory-to-ukraine__support:has(a:focus-visible),
.glory-to-ukraine__russian-warship:has(a:focus-visible) {
  padding: 3px 0;
}

.glory-to-ukraine a:focus-visible {
  padding: 3px;
  border-radius: 6px;
}

#waving-hand img {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  transform-origin: bottom right;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
  transition: all 0.3s ease-in-out;
}

#raised-hand img {
  animation-name: stop-animation;
  animation-duration: 0.75s;
  animation-iteration-count: 2;
  animation-timing-function: ease-in-out;
  transition: all 0.3s ease-in-out;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-4deg);
  }
  30% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(6deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes stop-animation {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
